body {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    background-color: #E7E7E7;
    color: #000000;
    overflow: hidden;
    margin: 0;
    -webkit-user-select: none;
    cursor: default;
}

.title {
    background-color: #CECFCE;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    color: #444;
    -webkit-app-region: drag;
}

.title h1 {
    font-size: 15px;
    font-weight: normal;
    color: #333;
}

.title p {
    margin: 0;
}

.row {
    margin: 10px auto;
}

input {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: #FFFFFF;
    border: 1px solid #C1C2C2;
    box-shadow: 0 1px 1px #DEDFDE;
    padding: 3px 8px;
    vertical-align: middle;
}

input[type=button] {
    border-radius: 5px;
    font-size: 13px;
}

input[type=button]:hover {
    border-color: #999;
}

input[type=password] {
    width: 100px;
}

label {
    width: 40%;
    display: inline-block;
    text-align: right;
    margin-right: 15px;
}

.pin {
    font-size: 25px;
    vertical-align: middle;
    letter-spacing: 8px;
}